<%= link_to 'New Invite', new_invite_path, class: 'new-invite' %>
<table class="invites">
  <tr>
    <th>Person</th>
    <th>Meal</th>
    <th>Friday</th>
  </tr>
  <% @invites.each do |invite| %>
    <tr class="invite">
      <th colspan="3"><%= link_to invite.email, edit_rsvp_path(invite.token) %></th>
    </tr>
    <% invite.people.each do |person| %>
    <tr class="person <%= person.decorate.status %>">
      <td class="name"><%= person.name %></td>
      <%= person.decorate.meal_choice %>
      <%= person.decorate.friday_choice %>
    </tr>
    <% end %>
  <% end %>
</table>
